@import "variables"
@import "../../node_modules/materialize-css/sass/materialize"
.logo-nav
  height: 120px
.soccer-nav
  color: black
  div
    background: orange
.page-footer
  background-color: orange
.regular
  width: 100%
  margin: 0
  overflow: hidden
  img
    width: 100%
.nav-wrapper
  .brand-logo
    width: 350px
    margin-bottom: 60px
    img
      width: 70%
.container-news
  width: 70%
  margin: 0 auto
