<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,400i,500,600,700,700i&amp;subset=latin-ext" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ asset('build/app.css') }}">
  <link rel="icon" type="image/x-icon" href=""/>
  <title>{% block title %}SoccerFive{% endblock %}</title>
  {% block stylesheets %}{% endblock %}
</head>
<body>
  {% block preJavascripts %}{% endblock %}
  {% block noscript %}
  <noscript>
    <div class="center">
      <p>
        <i class="fa fa-info-circle"></i> Ce site a besoin de JavaScript pour fonctionner.
        <a href='http://enable-javascript.com/fr/' target="_blank" title='Activer Javascript dans votre navigateur'>
          Comment et pourquoi activer JavaScript ?
        </a>
      </p>
    </div>
  </noscript>
  {% endblock %}
  {% block nav %}
  {% set path = app.request.pathinfo %}
  <nav class="logo-nav">
   <div class="nav-wrapper black">
     <a href="" class="brand-logo center"> <img src="{{ asset("build/images/soccerfive-logo-.png") }}" alt=""> </a>
   </div>
 </nav>
  <nav class="soccer-nav">
    <div class="nav-wrapper white">
      <ul id="nav-mobile" class="left black-text hide-on-med-and-down">
        <li><a href="sass.html">Accueil</a></li>
        <li><a href="badges.html">News</a></li>
        <li><a href="collapsible.html">contact</a></li>
      </ul>
    </div>
  </nav>
  {% endblock %}
  <main>
    {% block main %}{% endblock %}
  </main>

  {% block footer %}
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">SoccerFive</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Plan du site</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Accueil</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">news</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Activité</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Video</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2019 Copyright
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
  {% endblock %}
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  <script src="{{ asset('build/app.js') }}"></script>
  {% block javascripts %}
  {% endblock %}
</body>
</html>
